# Xcode
#
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcscheme/xcuserdata/
*.xcworkspace/xcuserdata/
*.swiftpm/

# Swift Package Manager
#
.build/
Packages/
*.xcodeproj
*.xcworkspace

# Outros
.DS_Store